 /* RESET RULES  */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
    display: block;
}

ul,
ol,
menu {
    list-style: none;
}

.web-app {
    height: 100vh;
    background-color: black;
}