 /* RESET RULES  */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: white;
}

img {
    max-width: 100%;
    display: block;
}

ul,
ol,
menu {
    list-style: none;
}

/* UTILITY CLASSES */
    .container {
        max-width: 1100px;
        margin: 0 auto;
        width: 100%;
    }


/* WEB APP STYLING SECTION  */

.web-app {
    height: 100vh;
    background-color: rgb(9, 9, 9);
    display: flex;
    flex-direction: column;
}

/* MAIN CONTENT STYLING SECTION  */
.main-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.main-content .cams-section {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 5px;
    justify-content: space-between;
}

.cam > .cam-thumbnail {
    position: relative;
}

.cams-section .cam img {
    display: block;
}

.cam-thumbnail .cam-name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #4747476b;
    padding: 0 5px;
    line-height: 20px;
}

.view-settings {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.view-settings > *{
    background-color: #4747476b;
    padding: 0 5px;
    line-height: 25px;
    border-radius: 5px;
    cursor: pointer;
}


/* TOOL BAR STYLING SECTION  */
.tool-bar {
    background-color: #222;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    overflow: hidden;
}

.tool-bar .tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tool-bar .tools > li {
    padding: 15px;
    text-align: center;
}

.tool.share-tool .fa-share-from-square{
    color: greenyellow;
}

.tool-bar .tool > span {
    display: block;
}

.tools.end-tool {
    color: red;
}

.tool-bar .tools .call-arrow {
    display: inline-block;
    margin-left: 20px;
    font-weight: 700;
}

.tool-bar .tools .chat-arrow {
    display: inline-block;
    margin-right: 10px;
    font-weight: 700;
}

.tools > .tool .fa-solid {
    font-size: 26px;
    padding-bottom: 5px;
}

.tool:hover {
    background-color: #474747;
    cursor: pointer;
}